/* ESTILO PARA TODO O CORPO DA PAGINA INICIAL */

body {
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    z-index: 1000;
    padding: 0;
    }
    
    body1 {
        font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        z-index: 1000;
        padding: 0;
       }
     
       
       /* IMAGENS DO SITE INICIAL */
    
       img {
        text-align: center;
        width: 450px;
        margin-right: auto;
        margin-left: auto;
        display: block;
       }
    
    
       /* Estilos para o header que contém o menu */
       
       header {
        position:relative
       }
      
       /* Estilos para o menu de navegação */
      
       nav.menu {
        background-color: #008cff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0% 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
       }
      
       /* Estilos para os links dentro do menu */
       
       nav.menu a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 15px 20px;
        transition: background-color 0.3s ease;
    }
    
    /* Estilos para o efeito de hover nos links */
    
    nav.menu a:hover {
     background-color: #004a86;
    }
    
    /* Estilo para o foco nos links ao usar o teclado */
    
    .menu a:focus {
     outline: 2px solid #ffbf47;
    }
    
    /* Estilos responsivos para telas menores */
    
    @media screen and (max-width: 768px) {
     .menu {
     flex-direction: column;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     background-color: #004a86;
     display: none;
     }
     
     /* Estilos para os links em telas pequenas */
     
     .menu a {
     padding: 15px;
     text-align: center;
     }
     
     /* Quando o menu estiver ativo (em telas pequenas), ele será exibido */
     
     .menu.active {
     display: block;
     }
    }
    
    
    /* IMAGEM DE FUNDO DAS PAGINAS */
    
        body {
        background-image: url(../img/fundo3.png);
    
        background-size:100%;
        background-repeat:no-repeat;
        }
       
        li{font-size:20px;
        }
        
        P{font-size:30px; font-family:  '; 
        }
        
        h1 {
            text-align: center;
          }
        p {
            text-align: center;
        }
    
        h3 {
            text-align: center;
        }
        
        li{
            font-size: 30px;
            text-align: center;
        }
    